button {
  background-color: #008f53;
  /* Green */
  border: 0;
  color: white;
  padding: 7px 7px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  width: 100px;
}

button:disabled,
button[disabled] {
  background-color: #999999;
  border: 0;
  color: white;
  padding: 7px 7px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  width: 100px;
}

textarea {
  width: 70%;
  height: 500px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.fq-select {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.fq-select label {
  background-color: #008f53;
  /* Green */
  display: block;
  border: 0;
  color: white;
  padding: 7px 7px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  width: 100px;
}

.fqfn {
  color: #000000;
  font-size: 18px;
  width: 30%;
  flex: 1;
  font-family: monospace;
  background-color: #eeeeee;
}

.counter {
  color: #008f53;
  font-size: 24px;
  text-align: center;
  background-color: #dddddd;
}

.files {
  font-size: 12px;
  display: flex;
}

.panel {
  display: flex;
  justify-content: center;
}
