input#file-upload {
	visibility: hidden;
}

#drop-container {
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center:
	align-items: center;
	background: #eeeeee;
	border: 1px dashed #aaaaaa;
	border-radius: 1rem;
}

label {
	cursor: pointer;
}
